package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * @program: hishrm
 * @ClassName $!{table.comment} service
 * @description:
 * @author: glb
 * @create: ${date}
 * @Version 2.0
 **/
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

        }
#end
